

body{
    overflow-y: overlay;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lobster;
  font-size: 3rem;
  color:(227, 225, 222);
  text-shadow: black;
}

.menu-list{
    display: flex;
    justify-content: space-around;
}

.menu{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #161D31;
}

.menu:not(:last-child){
  border-right: 1px solid #161D31;
}

.menu:hover{
    background-color: lightgray;
    color: white;
}

.trophy-img{
    width: 2rem;
    vertical-align: middle;
}

.trophy-earnings-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid lightgray;
  }
  
  .trophy-earnings-table thead{
    background-color: #161D31;
    height: 2.2rem;
    color: white
  }
  
  .trophy-earnings-table tbody tr:nth-child(even){
    background-color: lightgray;
  }