@media screen and (max-width: 1024px)
{
    .menu-list{
        flex-direction: column;
    }

    .trophy-img{
        max-width: 1.5rem;
        vertical-align: middle;
    }

    .content{
        margin: 0 0.5rem 0.5rem 0.5rem;
        background-color: white;
      }
    
    .header{
        font-size: 2rem;
    }
}