.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  /* background-color: #212529; */
  background-color: #161D31;
  color: white;
  height: 5rem;
}

.wrapper{
  /* background-color: rgb(230, 230, 230); */
  background-color: #161D31;
  flex-grow: 1;
}

.content{
  margin: 0 2rem 2rem 2rem;
  background-color: white;
  border: 1px solid lightgray;
}