.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background-color: #212529;
  color: white;
  height: 5rem;
}

.wrapper{
  background-color: rgb(230, 230, 230);
  flex-grow: 1;
}

.content{
  margin: 1rem;
  background-color: white;
  border: 1px solid lightgray;
}