.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  /* background-color: #212529; */
  background-color: #161D31;
  color: white;
  min-height: 5rem;
}

.wrapper{
  background-color: #161D31;
  background-attachment: fixed;
  background-position: top;
  flex-grow: 1;
}

.content{
  margin: 0 2rem 2rem 2rem;
  background-color: white;
}